#page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 4px;
}

#landscape-wrapper {
    display: flex;
    flex: 24;
    width: 100%;
    height: 100%;
    padding: 0;
}

.title-corners {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    font-size: 2rem;
}

.title-corners i {
    cursor: pointer;
}

.effects {
    justify-content: center;
    display: flex;
}

.effectscontainer.allyeffects,
.effectscontainer.enemyeffects {
    position: absolute;
}

.healthvalue,
.shieldvalue {
}

.rowarea {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    /* background-color: #c4c3d5; */
    margin: 2px;
    padding: 0px;
}

.boardrow {
    /* background: url(assets/row-background.png); */
    background-color: #a8b3d3;
    background-image: url('https://www.transparenttextures.com/patterns/gplay.png');
    display: flex;
    border: 5px solid #c4c3d5;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.boardrow.overflown {
}

.rowlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0px;
    /* prevents the droppable area from being 0px */
    height: 100%;
    flex-grow: 1;
    padding: 4px;
}

#player1board {
}

#player2board {
}

.board {
    display: flex;
    flex: 2;
}

.playerhalf {
    display: flex;
    flex: 1;
}

.playerarea {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1.5;
}

#player1area {
}

#player2area {
}

#centerlogo {
    height: 100px;
    margin: 0 20px 0 20px;
}

#title-container {
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vw;
    margin-bottom: 4px;
    width: 100%;
}

.credit {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 15vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
#center-section-container {
    display: flex;
    justify-content: center;
}
#center-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    font-size: 1.5rem;
}

.title {
    width: 20vw;
    display: flex;
    justify-content: center;
}

.playerarea .carddisplay-container {
    align-items: flex-start;
}

.dragging-over {
    transform: none;
}

.playerhand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-name-buttons {
}

.playername {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.playerarea-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    height: fit-content;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}


.rowlabel {
    position: absolute;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playercards-row {
    overflow: auto;
    width: 100%;
}

footer {
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.disclaimer {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
