#tutorial-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: 0.5s;
    pointer-events: none;
}

#tutorial-container.open {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    pointer-events: initial;
}

#tutorial {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 10vh;
    height: 70vh;
    min-height: 400px;
    width: 55vw;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: #333;
    overflow: auto;
    border-radius: 6px;
    z-index: 1000;
}

.open #tutorial {
    display: flex;
}

i#closetutorial:hover {
    color: #fa9c1e;
}

.tutorial-header {
    font-family: Big-Noodle-Titling;
    font-size: 2em;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tutorial-title {
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: bold;
}

#tutorial-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tutorial-tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1e1e3;
    padding: 8px;
    border-radius: 4px;
    flex-basis: 25%;
    background-color: #a8b3d3;
    border: 4px solid #c4c3d5;
    font-size: clamp(12px, 2vw, 32px);
}

.tutorial-tab:hover {
    background: transparent;
    color: #2e3651;
}

.tutorial-tab > i.fas {
    font-size: 0.7em;
    padding: 4px;
}

.tutorialtab-icon {
}

.tutorial-image-container {
    display: flex;
    justify-content: center;
}

.tutorial-image {
    width: 100%;
    border-radius: 10px;
}
.classicon {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0px 4px;
}

.tutorial-content-container {
    width: 98%;
}

.tutorial-content {
    font-size: clamp(10px, 0.7vw, 16px);
    font-weight: normal;
}

#card-info-container {
    display: flex;
    justify-content: center;
}

.card-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
}

.tutorial-heading {
    font-family: Big-Noodle-Titling;
    font-size: 1.5em;
}
#card-info-class {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#card-info-class > span {
    display: flex;
    align-items: center;
}

.card-info > img {
    border-radius: 10%;
    width: 100%;
    min-width: 200px;
}

#card-info-left {
    align-items: flex-end;
    text-align: right;
}

.tutorial-intro {
    width: 100%;
    padding: 8px;
    margin: 4px;
}

.tutorial-section {
    width: 100%;
    /* background-color: var(--ow-dark-blue);
  color: var(--background-color); */
    background-color: #a8b3d3;
    border: 5px solid #c4c3d5;
    border-radius: 10px;
    padding: 8px;
    margin: 4px;
}

ul.tutorial-list {
    padding: 0;
}

.tutorial-list li {
    display: flex;
    align-items: center;
    margin: 4px;
}

li {
}

.counter-desc {
    flex: 1;
}

.tutorial-counter {
}
