@media (max-width: 1300px) {
  #landscape-wrapper,
  .playerhalf,
  .board {
    flex-direction: column;
  }
  .rowarea {
    flex-direction: row;
  }
  .boardrow {
    min-height: 150px;
  }
  .cardrow {
    flex-direction: row;
  }
  .cardcontainer {
    flex-basis: 12%;
    min-width: 120px;
  }
  #center-section {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-left: 40px;
  }
  #centerlogo {
    height: 60px;
  }
  #title-container {
    font-size: 3rem;
  }
  .credit {
    font-size: 1rem;
  }
}
