@media (max-width: 1300px) {
  #landscape-wrapper,
  .playerhalf,
  .board {
    flex-direction: column;
  }
  .rowarea {
    flex-direction: row;
  }
  .boardrow {
    min-height: 150px;
  }
  .rowlist {
    flex-direction: row;
  }
  .cardcontainer {
    flex-basis: 12%;
    min-width: 120px;
  }
  #center-section {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-left: 40px;
    flex-direction: row;
  }
  #match-counters {
    margin: 0 10px;
  }
  #centerlogo {
    height: 60px;
  }
  .credit {
    font-size: 2vw;
  }
}

@media (min-width: 1300px) {
  .cardcontainer {
    max-height: 15vh;
    align-items: flex-start;
  }

  .card-in-hand {
    flex-basis: 50%;
  }

  .rowlist {
    min-height: 50vh;
  }
}
