@media (max-width: 760px) {
  
  @media screen and (orientation: portrait) {
    body{
      margin:0;
      overflow:hidden;
    }
    .landscape-wrapper{
        transform: rotate(90deg);
        transform-origin:bottom left;
        
        position:absolute;
        top: -100vw;
        left: 0;
        
        height:100vw;
        width:100vh;
    
        overflow:auto;
    }
  }
  
  #centerlogo {
    height: 50px;
  }

  .credit {
    font-size: 6pt;
  } 
  
  .playerhalf {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #player2half {
    flex-direction: column;
  }

  .playerarea {
    flex-direction: column;
  }
  
  #player2area {
    flex-direction: column-reverse;
  }

  .playerarea-section {
    width: 100%;
    flex-direction: row;
  }

  .playerbuttons {
    flex-direction: row;
  }

  .board {
    width: 100%;
  }

  .playerarea {
    width: 100%;
  }

  ul {
    justify-content: center;
    align-items: center;
  }

  #center-section {
    width: 20%;
  }

  .disclaimer {
    width: 70%;
  }
}