@media (max-width: 800px) {
  @media screen and (orientation: portrait) {
    body {
      margin: 0;
    }
    .landscape-wrapper {
      transform: rotate(90deg);
      transform-origin: bottom left;

      position: absolute;
      top: -100vw;
      left: 0;

      height: 100vw;
      width: 100vh;

      overflow: auto;
    }
  }

  .cardfocus {
    top: 25px;
    height: 80vw;
  }

  #centerlogo {
    height: 50px;
  }
}
