@media (max-width: 760px) {
  
  @media screen and (orientation: portrait) {
    body{
      margin:0;
      overflow:hidden;
    }
    .landscape-wrapper{
        transform: rotate(90deg);
        transform-origin:bottom left;
        
        position:absolute;
        top: -100vw;
        left: 0;
        
        height:100vw;
        width:100vh;
    
        overflow:auto;
    }
  }
  
  #centerlogo {
    height: 50px;
  }

  .credit {
    font-size: 6pt;
  } 
  
}