@font-face {
  font-family: KeepCalm-Medium;
  src: url("./assets/fonts/KeepCalm-Medium.ttf");
}

body {
  font-family: KeepCalm-Medium;
  color: white;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#centerlogo {
  height: 100px;
  margin: 0 20px 0 20px;
}

#centerlogocontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3vw;
}

.credit {
  font-size: small;
  width: 15vw;
}

.title {
  width: 20vw;
}

.cardrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowimage {
  width: 80%;
}

.playerhand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playername {
  font-size: 3vw;
  left: 200px;
}

.card {
  margin: 10px;
  height: 200px;
  width: auto;
  z-index: 10;
  font-size: 9pt;
}

.card:hover {
  height: 80vh;
  font-size: 20pt !important;
  
}


.cardimg {
  max-height: 100%;
  width: auto;
}

.rowlabel {
  position: absolute;
  left: auto;
  right: auto;
}

.counterarea {
  display: flex;
  width: 20vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 150px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.herocounter {
  width: 50px;
  height: 50px;
}

.healthcounter {
  background-image: url('assets/healthbackground.png');
  z-index: 20;
  position: relative;
  top: 12%;
  left: 84%;
  height: 5%;
  width: 7%;
}

.synergycounter {
  background-color: aqua;
  width: 50px;
  height: 50px;
  font-size: x-large;
}

.powercounter {
  background-color: yellow;
  max-width: 100px;
  max-height: 100px;
  min-width: 60px;
  min-height: 60px;
  width: 8vw;
  height: 8vw;
  font-size: 30pt;
  color: black;
}