@font-face {
  font-family: Big-Noodle-Titling;
  src: url("./assets/fonts/big_noodle_titling.ttf");
}

@font-face {
  font-family: KeepCalm-Medium;
  src: url("./assets/fonts/KeepCalm-Medium.ttf");
}

body {
  font-family: Big-Noodle-Titling;
  color: #333333;
  background-color: #dddbe0;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerarea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#centerlogo {
  height: 100px;
  margin: 0 20px 0 20px;
}

#centerlogocontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5vw;
}

.credit {
  font-size: 1.5vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title {
  width: 20vw;
}

.rowarea {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c3d5;
  padding: 70px 20px 70px 20px;
  margin: 10px;
  width: 80%;
}

.boardrow {
  width: 80%;
  min-height: 250px;
  /*background: url('assets/row-background.png');*/
  background-color: #a8b3d3;
  background-position: center;
  background-size: cover;
  margin: 20px;
  display: flex;
  flex-grow: 1;
}

.cardRow {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* Should the ul take place of the div? */
ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  min-height: 200px;
  justify-content: center;
}

.playerhand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playername {
  font-size: 4vw;
  left: 200px;
}

.playerarea-section {
  width: 15vw;
}

.cardcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 178px;
}

.card {
  position: relative;
  display: flex;
  margin: 36px 12px 36px 12px;
  height: 200px;
  width: auto;
  z-index: 20;
  font-size: 9pt;
}


.cardimg {
  max-height: 100%;
  width: auto;
}

.rowlabel {
  position: absolute;
  font-size: 2vw;
}

.counterarea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardRow-counterarea {
  justify-content: flex-start;
  max-width: 150px;
  flex-grow: 1;
}

.card-counterarea {

}

.effects {
  height: 100px;
  justify-content: center;
  display: flex;
  justify-content: center;
}

.allyeffects {

}

.enemyeffects {

}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.herocounter {
  width: 50px;
  height: 50px;
}

.healthcounter {
  font-family: KeepCalm-Medium;
  background-image: url('assets/healthbackground.png');
  z-index: 25;
  position: relative;
  top: 6.5%;
  left: 85%;
  height: 7%;
  width: 7%;
  color: white;
}

.synergycounter {
  border: 5px solid steelblue;
  background-color: #3f547a;
  color: white;
  width: 50px;
  height: 50px;
  font-size: x-large;
}

.playerbuttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-family: inherit;
  font-size: 16pt;
  border: 3px solid #333333;
  border-radius: 10%;
  background-color: #333333;
  color: white;
}

button:disabled {
  background-color: transparent;
}

.drawbutton {

}

.endturnbutton {

}

.powercounter {
  color: white;
  background-color: #fa9c1e;
  max-width: 100px;
  max-height: 100px;
  min-width: 60px;
  min-height: 60px;
  width: 8vw;
  height: 8vw;
  font-size: 30pt;
  margin: 20px;
}

#cardfocuscontainer {
  display: flex;
  justify-content: center;
}

.cardfocus {
  position: fixed;
  display: flex;
  top: 20vh;
  height: 60vh;
  font-size: 28pt;
  z-index: 50;
}

.cardfocus .ability {
  position: absolute;
  left: 10%;
  width: 80%;
  z-index: 60;
  cursor: pointer;
  border: 1px solid black;
}

.cardfocus .ability1 {
  bottom: 16%;
  height: 15%;
}

.cardfocus .ability2 {
  bottom: 0%;
  height: 15%;
}

.disclaimer {
  font-size: 16pt;
  display: flex;
  justify-content: center;
  margin: 20px;
}