/* Variables */
:root {
  --counter-size: 50px;
  --background-color: #dddbe0;
  --font-black: #333333;
  --ow-dark-blue: #2e3651;
}

@font-face {
  font-family: Big-Noodle-Titling;
  src: url("./assets/fonts/big_noodle_titling.ttf");
}

@font-face {
  font-family: KeepCalm-Medium;
  src: url("./assets/fonts/KeepCalm-Medium.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Big-Noodle-Titling;
  color: #333333;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  background-color: var(--background-color);
  display: flex;
  height: 100%;
  width: calc(100% - 20px); /* account for scrollbar */
  min-height: 100vh;
  min-width: calc(100vw - 20px);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  padding: 4px;
}

#landscape-wrapper {
  display: flex;
  flex: 20;

  width: 100%;
  height: 100%;
  padding: 0;
}

.title-corners {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 2rem;
}

.title-corners i {
  cursor: pointer;
}

#player1board {
}

#player2board {
}

.board {
  display: flex;
  flex: 2;
}

.playerhalf {
  display: flex;
  flex: 1;
}

.playerarea {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1.5;
}

#player1area {
}

#player2area {
}

#centerlogo {
  height: 100px;
  margin: 0 20px 0 20px;
}

#title-container {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4vw;
  margin-bottom: 4px;
}

.credit {
  font-size: 1.5rem;
  width: 15vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

#center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  font-size: 1.5rem;
}

#match-counters {
  display: flex;
}

.matchcountercontainer {
  display: flex;
  justify-content: center;
}

.matchcounter {
  width: 40px;
  height: 40px;
  color: #333333 !important;
  font-weight: bolder;
  font-size: 2rem;
  margin: 2px;
}

#player1matchcounter {
  background-color: #10fcff;
}

#player2matchcounter {
  background-color: #ff111f;
}

.title {
  width: 20vw;
  display: flex;
  justify-content: center;
}

.rowarea {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  /* background-color: #c4c3d5; */
  margin: 2px;
  padding: 0px;
}

.boardrow {
  /* background: url(assets/row-background.png); */
  background-color: #a8b3d3;
  background-position: center;
  background-size: cover;
  display: flex;
  border: 5px solid #c4c3d5;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.boardrow.overflown {
}

/* Should the ul take place of the div? */
.rowlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px;
  /* prevents the droppable area from being 0px */
  height: 100%;
  flex-grow: 1;
  padding: 4px;
}

.carddisplay-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 4px;
}

.playerarea .carddisplay-container {
  align-items: flex-start;
}

ul {
  list-style: none;
}

ul.vertical {
  overflow-x: hidden;
}

ul.horizontal {
}

ul.overflown {
  justify-content: flex-start;
}

.cardlist {
  min-height: 50px;
}

.handlist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100%;
  min-height: 150px;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.handlist .not-dragging {
  transform: none !important;
}

.card-in-hand {
  flex-basis: 40%;
}

.dragging-over {
}

.playerhand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-name-buttons {
}

.playername {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.playerarea-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  height: fit-content;
}

.cardcontainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 1vw, 2rem);
}

.card {
  position: relative;
  display: flex;
  margin: 6px;
  z-index: 20;
}

.show-card {
}

.hide-card {
  border: 2px solid #dddbe0;
}

.dead {
  filter: grayscale(1);
}

.cardimg {
  max-height: 100%;
  max-width: 100%;
  border-radius: 10%;
}

.rowlabel {
  position: absolute;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterarea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-counterarea {
}

.effects {
  justify-content: center;
  display: flex;
}

/*
.effectscontainer {
  position: absolute;
}

#player1board .allyeffects,
#player2board .enemyeffects {
  bottom: calc(-1 * (var(--counter-size) + 10px));
}

#player1board .enemyeffects,
#player2board .allyeffects {
  top: calc(-1 * (var(--counter-size) + 10px));
}
*/

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 25;
  position: relative;
  color: white;
}

.herocounter {
  width: 40px;
  height: 40px;
}

.healthcounter {
  background-image: url("assets//healthbackground-hexagon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.shieldcounter {
  background-image: url("assets//shieldcounter.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardcounter {
  font-family: KeepCalm-Medium;
  height: 18%;
  width: 23%;
  position: absolute;
}

.healthcounter.cardcounter {
  top: 2%;
  left: 75%;
}

.shieldcounter.cardcounter {
  top: 20%;
  left: 75%;
}

.healthvalue,
.shieldvalue {
  margin-top: 2px;
}

.rowcountercontainer {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.rowcounter {
}

.shieldcounter.rowcounter {
  width: 50px;
  height: 50px;
}

.cardfocuscounter {
  font-family: KeepCalm-Medium;
  height: 20%;
  width: 20%;
  position: absolute;
}

.healthcounter.cardfocuscounter {
  top: 1%;
  left: 78%;
}

.shieldcounter.cardfocuscounter {
  top: 18%;
  left: 78%;
}

.synergycontainer {
  display: flex;
  justify-content: center;
}

.synergycounter {
  border: 5px solid steelblue;
  background-color: #3f547a;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 2rem;
}

.playerbuttons {
  display: flex;
  flex-direction: row;
}

.playerbuttons button {
  cursor: pointer;
}

.common-buttons {
  display: flex;
}

button {
  width: 60px;
  height: 60px;
  margin: 10px;
  font-family: inherit;
  font-size: 1.5rem;
  border: 3px solid #333333;
  border-radius: 10%;
  background-color: #333333;
  color: white;
}

.playerbuttons button:hover {
  background-color: #fa9c1e;
}

.playerbuttons button:disabled {
  background-color: transparent;
  color: #333333;
}

.passbutton {
  background-color: #fa9c1e;
  color: #333333;
}

.passbutton:active {
  background-color: #333333;
  color: white;
}

.drawbutton {
}

.endturnbutton {
}

.powercounter {
  color: white;
  background-color: #fa9c1e;
  max-width: 100px;
  max-height: 100px;
  min-width: 60px;
  min-height: 60px;
  width: 50px;
  height: 50px;
  font-size: 4rem;
  margin: 0 10px;
}

.playercards-row {
  max-height: 75%;
  display: flex;
  flex: 1;
  width: 100%;
}

#cardfocuscontainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cardfocus {
  position: fixed;
  display: flex;
  top: 20vh;
  height: 60vh;
  min-height: 400px;
  font-size: clamp(32px, 3vw, 38px);
  z-index: 50;
  pointer-events: initial;
}

.cardfocus .ability {
  position: absolute;
  left: 10%;
  width: 80%;
  z-index: 60;
  cursor: pointer;
  /*border: 1px solid black;*/
}

.cardfocus .ability1 {
  bottom: 16%;
  height: 15%;
}

.cardfocus .ability2 {
  bottom: 0%;
  height: 15%;
}

footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tutorial-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: 0.5s;
  pointer-events: none;
}

#tutorial-container.open {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  pointer-events: initial;
}

#tutorial {
  position: fixed;
  display: none;
  flex-direction: column;
  top: 10vh;
  height: 70vh;
  min-height: 400px;
  width: 50vw;
  max-width: 800px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--ow-dark-blue);
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 12px;
  z-index: 1000;
}

.open #tutorial {
  display: flex;
}

i#closetutorial:hover {
  color: #fa9c1e;
}

.tutorial-header {
  font-family: Big-Noodle-Titling;
  font-size: 2em;
  margin-bottom: 8px;
}

#tutorial-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

#tutorial-tabs {
  display: flex;
  justify-content: space-around;
}

.tutorial-tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1e1e3;
  padding: 8px;
  border-radius: 4px;
  flex-basis: 25%;
  background: #2e3651;
  color: #e1e1e3;
  font-size: clamp(18px, 2vw, 32px);
}

.tutorial-tab:hover {
  background: #e1e1e3;
  color: #2e3651;
}

.tutorial-tab > i.fas {
  font-size: 0.7em;
  padding: 4px;
}

.tutorialtab-icon {
}

.tutorial-image-container {
  display: flex;
  justify-content: center;
}

.tutorial-image {
  width: 100%;
}

.tutorial-content {
  font-size: 1em;
  font-weight: normal;
}

#card-info-container {
  display: flex;
  justify-content: center;
}

#card-info-container:nth-child(1) {
  flex: 2;
}

.card-info {
  display: flex;
  flex: 1;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
}

.card-info-section {
}

.card-info-heading {
  font-family: Big-Noodle-Titling;
  font-size: 1.5em;
}
#card-info-class {
  display: flex;
  flex-direction: column;
}
.card-info > img {
  border-radius: 10%;
  width: 100%;
}

.tutorial-section {
  background: rgba(46, 54, 81, 0.95);
  color: var(--background-color);
  padding: 10px;
  margin: 5px;
  width: 100%;
}

.disclaimer {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
